
@media only screen and (max-width: 991px) {

    body {
        font-size: 14px;
    }
    
    .dayDate {
        display: none;
    }
    
    .dateDate {
        display: block;
    }
    
    .cityName {
        vertical-align: bottom;
        width: 12%;
        padding-left: 0;
        font-size: 130%;
    }
    
    .cityName div {
        position: relative;
        margin-left: 5px;
        margin-top: 120px;
        line-height: 1;
        -ms-transform: rotate(270deg); /* IE 9 */
        -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
        transform: rotate(270deg); 
    }
    
    .briefItem button {
        position: absolute;
        bottom: 145px;
        left: 10px;
  }
    
    .forecastItem {
        width: 17.6%;
    }
    
    .des {
        display: none;
    }
  }

@media only screen and (max-width: 768px) {
    
    select {
     width: 30%;
   }   
    
}

@media only screen and (max-width: 500px) {
    
    .cityName div {
        margin-left: 5px;
        margin-top: 140px;
    }
    
    .forecastItem {
        border-left: 2px solid;
    }
}