/* -----------------------
   GLOBAL
   ----------------------- */
/** {
  border: 1px solid black;
}*/

  .container-fluid {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
  }


/*
  body {
    background-color: #212121;
    background-size: cover;
    background-position: center;
  }
*/


/* -----------------------
   BANNER
   ----------------------- */

   .banner {
     background-image: url('../imgs/earthBanner.png');
     background-position: center;
     background-size: cover;
     color: #c7c7c7;
   }

/* -----------------------
   HEADER
   ----------------------- */

   .header {
     margin-top: 15px;
   }

   select {
     width: 60%;
   }

/* -----------------------
   LOCATION_BRIEF
   ----------------------- */

  .locationBrief {
    margin-top: 15px;
  }

  .briefItem {
    padding: 10px 0;
  }

  .cityName button {
    position: absolute;
    bottom: 5px;
    left: 15px;
  }

  .forecastItem,
  .cityName {
    height: 60px;
  }

  .forecastItem {
    text-align: center;
  }
