/* -----------------------
   GLOBAL
   ----------------------- */
/** {
  border: 1px solid black;
}*/

  .container-fluid {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
  }

/* -----------------------
   BANNER
   ----------------------- */

   .banner {

   }

/* -----------------------
   HEADER
   ----------------------- */

   .header {
     margin-top: 15px;
   }

   select {
     width: 100%;
   }

/* -----------------------
   LOCATION_BRIEF
   ----------------------- */

  .locationBrief {
    margin-top: 15px;
  }

  .briefItem {
    padding: 10px 0;
  }

  .cityName button {
    position: absolute;
    bottom: 5px;
    left: 15px;
  }

  .forecastItem,
  .cityName {
    height: 60px;
  }

  .forecastItem {
    text-align: center;
  }
