/* -----------------------
   GLOBAL
   ----------------------- */
/** {
  border: 1px solid black;
}*/

  .container-fluid {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
  }

/* -----------------------
   BANNER
   ----------------------- */

   .banner {
     
   }

/* -----------------------
   SEARCH_BAR
   ----------------------- */

   .searchBar {
     margin-top: 15px;
   }

/* -----------------------
   LOCATION_BRIEF
   ----------------------- */

  .locationBrief {
    margin-top: 15px;
  }

  .briefItem {
    padding: 10px 0;
  }
