/* -----------------------
   GLOBAL
   ----------------------- */
/** {
  border: 1px solid black;
}*/

  .container-fluid {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
  }


  body {
    background-color: #212121;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
  }


/* -----------------------
   BANNER
   ----------------------- */

   .banner {
     background-image: url('../imgs/earthBanner.png');
     background-position: center;
     background-size: cover;
     color: #c7c7c7;
   }

    h1 {
     font-size: 350%;
     font-weight: 200;
    }

    h4 {
     font-size: 120%;
     font-weight: 300;
     margin: 15px;
    }

/* -----------------------
   HEADER
   ----------------------- */

   .header {
     margin-top: 15px;
   }

   select {
     width: 60%;
   }

/* -----------------------
   LOCATION_BRIEF
   ----------------------- */

/* outside container */
  .locationBrief {
    margin-top: 15px;
    position: relative;
  }

/* for each location */
  .briefItem {
    padding: 0;
    background-color: rgba(94, 123, 247, 0.75);
/*    background-color: rgba(248, 235, 73, 0.8);  */
    border-radius: 10px;
    height: 175px;
    position: relative;
    margin-top: 10px;
    color: #363636;
    display:block;
  }

/* name of location*/
  .cityName {
    font-size: 160%;
    font-weight: 300;
    width: 20%;
    height: 100%;
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    background-color: rgba(248, 235, 73, 0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* for each day */
  .forecastItem {
    color: #72b8ff;
    text-align: center;
    width: 16%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    border-left: 4px solid #5cadff;
  }

  .briefItem button {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .wi {
    margin: 8px 0;
    font-size: 200%;
  }

  .dayDate {
    display: block;
  }

  .dateDate {
    display: none;
  }
